{% extends 'base.html' %}

{% block content %}

<section class="page-head">
  <div class="container">
    <h1>Privacy Policy</h1>
    <p>We respect your privacy.</p>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="note">
      <p>This is a demo project website. We do not collect real financial data. Any information entered is only for educational purpose.</p>
      <br>
      <p>We keep your data secure and never share it with third parties in real system.</p>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container copy">© 2026 Instant Loans. All Rights Reserved.</div>
</footer>


{% endblock %}