{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert">{{ message }}</div>
{% endfor %}
{% endif %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="container">

    <!-- PROFILE -->
    <div class="profile-card">
        <div class="profile-info">

            {% if profile.profile_pic %}
            <img src="{{ profile.profile_pic.url }}" class="profile-img">
            {% else %}
            <div class="profile-avatar">
                {{ profile.user.username|slice:":1" }}
            </div>
            {% endif %}

            <div>
                <h3>{{ profile.user.username }}</h3>
                <p>{{ profile.address }}</p>
                <small>{{ profile.mobile_no }}</small>
            </div>
        </div>

        <a href="{% url 'edit_profile' %}" class="btn">Edit</a>
    </div>

    <!-- STATS -->
    <div class="profile-stats">
        <div class="card stat-box">
            <h3>Total Loans</h3>
            <p>{{ applications|length }}</p>
        </div>

        <div class="card stat-box">
            <h3>Approved</h3>
            <p>
                {{ approved }}
            </p>
        </div>

        <div class="card stat-box">
            <h3>Pending</h3>
            <p>
                {{ pending}}
            </p>
        </div>

        <div class="card stat-box">
            <h3>Rejected</h3>
            <p>
                {{ rejected }}
            </p>
        </div>
    </div>

    <!-- LOANS -->
    <div class="loan-section">
        <h2>Your Loans</h2>

        <table class="table">
            <tr>
                <th>Type</th>
                <th>Amount</th>
                <th>Duration</th>
                <th>Income</th>
                <th>Status</th>
            </tr>

            {% for app in applications %}
            <tr>
                <td>{{ app.loan_type|title }}</td>
                <td>₹{{ app.loan_amount }}</td>
                <td>{{ app.loan_duration }}</td>
                <td>₹{{ app.income }}</td>

                <td>
                    {% if app.status == "approved" %}
                    <span class="status approved">Approved</span>
                    {% elif app.status == "pending" %}
                    <span class="status pending">Pending</span>
                    {% else %}
                    <span class="status rejected">Rejected</span>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No loans found</td>
            </tr>
            {% endfor %}
        </table>
    </div>


    <div class="loan-section">
        <h2>Your EMI Schedule</h2>

        <table class="table">
            <tr>
                <th>Loan</th>
                <th>Installment</th>
                <th>Amount</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>

            {% for emi in emis %}
            <tr>
                <td>{{ emi.loan.loan_type|title }}</td>
                <td>#{{ emi.installment_number }}</td>
                <td>₹{{ emi.amount }}</td>
                <td>{{ emi.due_date }}</td>

                <td>
                    {% if emi.status == "paid" %}
                    <span class="status approved">Successful</span>
                    {% else %}
                    <span class="status pending">Pending</span>
                    {% endif %}
                </td>

                <td>
                    {% if emi.status == "pending" %}
                    <a href="{% url 'pay_emi' emi.id %}" class="btn">Pay</a>
                    {% else %}
                    ✔ Paid
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>

{% endblock %}