{% extends 'base.html' %}

{% block content %}


<section class="page-head">
  <div class="container">
    <h1>Terms & Conditions</h1>
    <p>Important terms for using Instant Loans.</p>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="note">
      <ul style="line-height:2;">
        <li>This website is created for educational purpose.</li>
        <li>Loan approval depends on verification.</li>
        <li>All EMI and loan details are sample/demo.</li>
        <li>Users should enter correct information.</li>
      </ul>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container copy">© 2026 Instant Loans. All Rights Reserved.</div>
</footer>


{% endblock %}